

.main-container{
    width: 100%;
    margin: 0px;
  padding: 0px;
  background-color:#070720;
/* height: 600px; */

  
}

.sub-container{
    height: 500px;
    width: 100%;
 margin-top: 0px;
 margin-bottom: 20px;
}
.heading{
 
 color: goldenrod;
 text-align: center;

 background-color: #070720;



}
.main-container p{
    color: #b7b7b7;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    margin-left: 13px;
    margin-right: 13px;
}
.vission{
    width: 100%;
}
.vission .head{
    
 color: goldenrod;
 text-align: center;
 
}
/* .box{
    height: 200px;
 
    border: 1px solid;
    border-radius: 10px;

} */
.vission{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  
}
.box h1{
 text-align: center;
 padding-bottom: 20px;
}
.box{
 height: 255px;
 width: 250px;
 background-color: #ffffff;
 border: 2px solid goldenrod;
 border-radius: 10px;
 float: left;
 margin: 30px 20px 10px 33px;

 /* box-shadow: 0px 0px ; */
}
.box p{
    color:black;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    margin-top: 25px;
    margin-left: 2px;
    margin-right: 2px;

  
}
.box img{
    height: 80px;
    margin-left: 90px;
}
.box:hover{
    box-shadow: 0px 0px 10px 2px goldenrod;
}

/* media queries */

@media (min-width:320px){
    .vission{
       background-color: #070720;
    }
    .box{
    height: 300px;
    
    }
}

@media (max-width:606px){
    .box{
        width:225px;
        /* margin-left: 150px; */
    }
}
@media (max-width:555px){
    .box{
        width:300px;
        margin-left: 100px;
    }
}
@media (max-width:450px){
    .box{
        width:300px;
        margin-left: 50px;
    }
}
@media (max-width:380px){
    .box{
        width:275px;
        margin-left: 30px;
    }
}
@media (min-width:640px){
    .box{
       
        margin-left: 40px;
    }
}

@media (min-width:641px){
    .box{
        margin-left: 60px;
    }
}
@media (min-width:720px) and (max-width:989px){
    .box{
        /* width:300px; */
        margin-left: 90px;
    }
}

@media (min-width:990px)and (max-width:1368px){
    .box{
    margin-left: 40px;
    }
}


@media(min-width:1369px){
    .box{
    margin-left: 60px;
    }
}
@media (min-width:1400px){
    .box{
        margin-left: 80px;
    }

    .div4{
        margin-right: 10px;
    }
}
@media (min-width:1400px){
    .box{
        margin-left: 80px;
    }

    .div4{
        margin-right: 10px;
    }
}
