body{
    font-family: arial;
    margin: 0;
    padding: 20px;
    background-color: #070720;
}
*{
    box-sizing: border-box;
}

/*.......end of navigation bar......*/
.row::after{
    content: '';
    display: table;
    clear: both;
}
header{background-image: url(https://i.pinimg.com/736x/c3/96/42/c39642f1722aaeb196bad964481d9001.jpg);
    padding: 120px;
   /* background-image: url(https://images.wallpapersden.com/image/download/anime-original-hd-2023_bW5raG2UmZqaraWkpJRoamVlrWZtbWo.jpg);*/
    height: 500px ;
    margin-left: 90px;
    margin-right: 90px;
}
header h1{
    text-align: center;
    font-size: 60px;
    color:white;
    margin: 1.2 0px;
    padding-top:40px ;
    padding-bottom: 0px;
}
header h4{
    color:white ;
    font-size: 30px;
}
h2{
    color: white;
    margin:1.5 0px;

}
h3{
    color: white;
    
}
h5{
    color: white;
    
}
p{
    color: white;
    margin-top: 50px;
}
.left-column{
    
    float: left;
    width: 60%;
    height: 45%;
    margin-left: 70px;
    margin-bottom: 60px;
    

}
.right-column{
    
    width: 25%;
    float: right;
    padding-left:20px ;
    margin-right: 70px;
    margin-bottom: 70px;
}
.card{
    padding: 20px;
    background-color:#070720;
   /*background-color: #686767;*/

    margin-top: 10px;
}
.card img{
    width: 100%;
    

}
.right-column.card img{
   margin-bottom: 20px;
   
}
footer{
  /*  background-color: #dddddd;
    padding: 20px;
    text-align: center;
    margin-top: 20px;*/
}
/*responsive*/
@media(max-width:800px){
    .left-column,.right-column{
        width: 100%;
        padding: 0px;
    }
}
/*....footer  code started..*/
.footer-main{
border-top: 1px solid #b7b7b7;
padding: 15px 0;
width: 100%;
display: flex;
}
.quick-links,
.footer-logo{
width: 24%;
}
.footer{
padding: 40px 80px 5px 80px;
background-color: #070720;
color: #fff;
}
.footer-text{
margin-top: 10px;
width: 240px;
font-size: 18px;
}

.footer-image{
display: flex;
align-items: center;
}
.footer-image img{
height: 30px;
}
.logo-text{
font-size: 25px;
margin-left: 3px;
}
.quick-links ul li{
list-style: none;
}
.links{
width: 170px;
font-size: 25px;
/* border-bottom: 6px solid red; */
border-start-start-radius:40px ;
}

.quick-links ul{
margin-top: 15px;
}
.quick-links ul li{
font-size: 16px;
line-height: 35px;
}
.address{
margin-top: 15px;
}
.contact{
margin-top: 10px;
line-height: 35px;
}
.made{
margin-top: 70px;
text-align: center;
font-size: 18px;
font-weight: 600;
}
.made i{
color: rgb(209, 5, 5);
}
.copyright{
text-align: center;
font-size: 16px;
margin: 30px 0 0 0;
}
.footer-icon{
font-size: 20px;

}
.social-icons{
/* text-align: center; */
}
.social-icons i{
margin: 15px 10px;
margin-right: 20px;
font-size: 25px;
}
/*end of footer*/

/*-----responsive code------*/
@media screen and (max-width:768px){
    .row{
        display:ruby-base-container;
    }
    .left-column{
        width: 100%;
        object-fit: cover;
        height: 300px;
    }
    .right-column{
        width: 100%;
        object-fit: cover;
        height: 300px;
        display: none;
    }
    
    .card{
        width: 70%;
        font-size: 20px;
    }
    .card img{
        width: 100%;
        object-fit: cover;
        height: 300px;
    }
    .card h2{
        margin-top: 15px;
        width: 100%;
        font-size: 25px;
    }
    .card h3{
        margin-top: 15px;
        width: 100%;
        font-size: 25px;
    }
    .card h5{
        margin-top: 15px;
        width: 100%;
        font-size: 25px;
    }
    .card p{
        width: 80%;
        font-size: 18px;
    }
   /* .right-column{
        width: 100%;
        object-fit: cover;
        height: 300px;
    } */
    .footer{
        display:none;
    }

}