.body{
    background-color:black;
    height: 100%;
    width: 100%;
}
.container {
    position: relative;
    text-align: right;
    color: white;
  }
  .main{
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    left: 1000px;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;

  }
  .rank{
    font-size: small;
    color: goldenrod;
    text-align: left;

  }
 
  .heading{
    text-align: left;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
  }
  .info{
    text-align: left;
    width: 300px;
    height: 100px;
    padding: 20px 2px;
    margin-bottom: 15px;
    display: flex;
  }
  .watchnow{
    padding: 7px 7px;
    border-radius: 20px;
    background-color: #FFBB64;
    border: 20px;
    border-color: white;
    display: flexbox;
    align-items: left;
    margin: 10px;

  }
