body {
    background-color: #070720;
}


.sub-container {
    position: relative;
    top: 150px;
    left: 650px;
    right: 100px;
    width: 450px;
    height: 450px;
    background-color: rgba(57, 62, 70, 0.7);
    border-radius: 10px;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    position: fixed;
    margin-top: -15%;
}


.box {
    padding: 40px;
    border: 0.1px solid red;
    border-radius: 10px;
    margin: 50px;px;
    position: relative;
    top: 50px;

}


.box:hover {
    box-shadow: 1px 1px 10px 5px #660000;
    transition: 0.2s;
}

::placeholder {
    color:#8c8c8c ;
    



}

input[type=text] {
    border: none;
    font-size: 20px;
    background-color: rgba(57, 62, 70, 0);
    margin-left: 50px;
    width: 100%;
    outline: none;
    
    
}



input[type=password] {
    border: none;
    font-size: 20px;
    background-color: rgba(57, 62, 70, 0);
    margin-left: 50px;
    outline: none;
}

.login-btn {
    color: #fff;
    /* background-color:#00ADB5;  */
    background-color: #e53637;
    /* font-size: 20px; */
    padding: 15px 20px;
    border-radius: 15px;
    margin: 20px 5px;
    border: 1px solid #070720;
    margin-top: 30px;
    margin-left: 180px;
    font-size: 20px;
}

.login-btn:hover {

    -ms-transform: scale(1.1); /* IE 9 */
   / -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0.5s;

}

.reg {
    margin-left: 135px;
    margin-top: 1px;
    color: #b3b3b3;


}

.signup-btn {
    text-decoration: none;
    color: #b3b3b3;

}

.signup-btn:hover {
    text-decoration: underline;
    transition: 0.1s;
}




.main-container {

    height: 1500px;
    width: 100%;
    background-image: url('../images/background.jpg');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bg-img{
    
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.img-container{
    border: 1px solid black;
    height: 500px;

}


.text{
 font-size: 50px;
 margin-top: -360px;
 margin-left:700px;
 text-align: center;
 position: absolute;
        width: 200px;
        height: 100px;
        padding:20px 0px 50px 50px;
}

.text1{
    color:white;
    font-family: 'Protest Strike', sans-serif;
    font-size: 100px;
}

.text2{
    
    color: white;
    font-size: 40px;
    padding: 10px;
    position: absolute;
    width:1000px;
    height: 50px;
    text-align: center;
    margin-left: -350px;

}
